body {
    background-color: #ffffff69;

}

.logo {
    color: rgb(24, 24, 24);
    font-size: 8vw;
    background-color: rgba(255, 255, 255, 0.13);
    padding: 12% 33%;
}

.nav-custom {
    background: rgb(255, 255, 255);
    height: 55px;
    border-bottom: rgba(187, 94, 28, 0.733) solid 2px;
}

.nav-custom a:hover {
    color: white!important;
    background: chocolate;
}

.nav-link {
    color: rgb(83, 83, 83)!important;
    font-weight: bold;
}

.learn-desc {
    color: rgb(70, 70, 70);
    margin-top: 5%;
}

.level1-desc {
    margin-top: 10%;
}

.learn-desc-p {
    color: rgb(78, 78, 78);
    font-size: 18px;
    line-height: 1.7;
}

.learn-desc-icon {
    margin-left: -20px;
    color: rgb(163, 140, 140);
    font-size: 20px;
}

.navbar-collapse a {
    font-size: 1.15rem;
}
.custom-brand {
    font-size: 30px;
    position: fixed;
    top: 0;
}

.web-name {
    font-size: 70px;
    color: rgb(83, 83, 83);
}

.ps {
    font-size: 20px;
    color: rgb(110, 110, 110);
}

.right-col {
    margin-left: 25%;
}

.nav-custom a.active {
    color: white!important;
    background: chocolate;
}

.p {
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
}

.image-text {
    margin-top: 10%;
}

.learn-p {
    font-size: 18px;
}

.learn-buttons {
    padding: 30px;
    margin-top: 10%;
    background-color: rgb(240, 240, 240);
    border-radius: 5%;
}

.container-fluid {
    padding-left: 10%;
}

.lock {
    margin-left: -55px;
    margin-right: 20px;
    color: rgb(163, 108, 69);
    font-size: 30px;
}

.footer {
    margin-top: 10%;
    background-color: rgb(214, 214, 214);
   
}

.btn-custom {
    border: solid 2px chocolate;
    color: chocolate;
    padding: 1% 5%;
    border-radius: 10%;
    font-size: 18px;
}

.btn-custom:hover {
    color: white;
    background-color: chocolate;
}

.footer-icon {
    font-size: 25px;
    color: rgb(170, 102, 53);
}

.ftr-txt-clr {
    color: rgb(87, 87, 87);
    font-size: 16px;
    font-weight: normal;
}

.footer-color {
    color: rgb(71, 71, 71);
}


.index-icons {
    font-size: 50px;
    line-height: 50px;
    background-color:rgb(143, 100, 6);
    padding: 20px;
    color: white;
    border-radius: 50%;
}

#indexnavLink{
    text-decoration: none;
    
}
#indexnavLink:active{
    color: rgb(56, 94, 25);
    text-decoration: none;
}


#indexnavLink:hover{
    color: rgb(143, 100, 6);
    text-decoration: none;
}

.learn-icons {
    font-size: 50px;
    line-height: 50px;
    background-color:rgb(184, 121, 76);
    padding: 20px;
    color: white;
    border-radius: 50%;
}

.learn-p {
    font-size: 18px;
}

.learn-buttons {
    padding: 30px;
    border-radius: 10%;
    margin-top: 10%;
    background-color: rgb(243, 243, 243);
}

.learn-buttons:hover {
    background-color: rgb(216, 216, 216);
}

.container-fluid {
    padding-left: 10%;
}

.image-text {
    margin-top: 12%;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;

  }

.index-hp{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

div>a{
    text-decoration: none;
    text-decoration-color: none;
    color: black;
    
}

.custom-container {
    margin-left: 6%;
}

#content_bar_title {
    color: #000;
    text-align: center;
    font-family: "Calibri Light" !important;
    margin-left: -5%;
}
.content_paragraph {
    text-align: justify;
}

.column {
    width: 25%;
}

#column_1 {
    position: relative;
    float: left;
    margin-left: 20%;
    margin-right: 2.5%;
}

#column_2 {
    position: relative;
    margin-right: 20%;
    margin-left: 2.5%;
    float: left;
}

#content_bar p,
h3 {
    font-family: "Calibri Light" !important;
}

.p1_image {
    width: 100%;
    height: 30%;
    border-radius: 50%;
    margin-bottom: 30px;
}

#content_bar {
    padding: auto;
    position: relative;
    float: left;
   
}

#alpha {text-align: left;
}

.explore {

background-color: beige;
    padding-top: 50px;
    height: 250px;
    clear: both;

}

.ec {
    width: 25%;
}

#ec1 {
    position: relative;
    float: left;
    margin-left: 6.25%;
}

#ec3 {
    position: relative;
    float: left;
    margin-left: 6.25%;
}
#ec2 {
    position: relative;
    float: left;
    margin-left: 6.25%;
}
.border-line{
    border-top: 1px solid lightgrey;
  
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 15%;
    color: rgb(99,74,7);

}

.title{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5%;

}

.index-p {
    font-size: 18px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15%;
}

.detail{
    font-size: 18px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5%;

}


.index-buttons {
    padding: 30px;
    border-radius: 5%;
    margin-top: 6%;
}


div>a{
    text-decoration: none;
    text-decoration-color: none;
    color: black;

    
}
.column_p {
    text-align: justify;
}

.column_p img {
    width: 50px;
    float: left;
    margin: 10px;
}

.level_title {
    color: rgb(107, 49, 7);
}

.active_tab {
    background: rgb(179, 89, 26);
    color: white;
}

.learn-nav {
    font-size: 20px;
}

.custom-list {
    border: 1px solid rgb(214, 214, 214);
    padding: 10px;
}

.active-learn {
    background: rgb(165, 112, 42);
    color: white;   
}

.description{
    background-color: rgb(231, 231, 230);
}

.lock {
    margin-right: 5%;
}
#content_bar_title {
    color: #000;
    text-align: center;
    font-family: "Calibri Light" !important;
    margin-left: -5%;
}
.content_paragraph {
    text-align: justify;
}

.column {
    width: 25%;
}

#column_1 {
    position: relative;
    float: left;
    margin-left: 20%;
    margin-right: 2.5%;
}

#column_2 {
    position: relative;
    margin-right: 20%;
    margin-left: 2.5%;
    float: left;
}

#content_bar p,
h3 {
    font-family: "Calibri Light" !important;
}

.p1_image {
    width: 100%;
    height: 30%;
    border-radius: 50%;
    margin-bottom: 30px;
}

#content_bar {
    padding: auto;
    position: relative;
    float: left;
}


.ftr-txt-clr {
    color: rgb(87, 87, 87);
    font-size: 16px;
    font-weight: normal;
}

.footer-color {
    color: rgb(71, 71, 71);
}

.footer {
    margin-top: 10%;
    background-color: rgb(214, 214, 214);
   
}

.btn-letters-active {
    border: rgb(109, 69, 18) solid 1px;
    background-color: rgb(109, 69, 18);
    color: white;
    font-size: 20px;
}

.btn-letters {
    border: rgb(109, 69, 18) solid 1px;
    color: rgb(109, 69, 18);
    font-size: 20px;
}

.btn-letters:hover {
    border: rgb(109, 69, 18) solid 1px;
    background-color: rgb(109, 69, 18);
    color: white;
    font-size: 20px;
}

.main-letter {
    color: rgb(95, 72, 42);
    font-size: 200px;

}

.letters {
    font-size: 40px;
    color: rgb(105, 103, 103);
}

.left-nav {
    margin-left: -15%;
}

.letter-container {
    margin-left: 22%;
    border: 2px solid rgba(139, 69, 19, 0.116);
    border-radius: 5%;
    width: 100%;
}

.btn-outline-custom {
    border: rgb(151, 75, 31) solid 1.5px;
    color: rgb(151, 75, 31);
}

.btn-outline-custom:hover {
    color: white;
    background-color:rgb(151, 75, 31);
}

.search {
    margin-left: 55%;
}

.title-learn {
    margin-top: -5%;
}

.number-desc {
    margin-top: 25%;
    margin-left: -20%;
    font-size: 26px;
    color: rgb(129, 123, 123);
}

.number-desc2 {
    font-size: 26px;
    color: gray;
    margin-left: -20%;
}

.words {
    background-color: rgba(210, 105, 30, 0.048);
}

.light {
    color: rgb(58, 58, 58);
}

.days {
    color: rgb(63, 63, 63);
    font-size: 22px;
}

.months {
    margin-left: 25%;
    border: 2px solid rgba(139, 69, 19, 0.116);
    border-radius: 5%;
    width: 60%;
    background-color: rgba(210, 105, 30, 0.048);
}

.custom-prev {
    position: absolute;
    left: 20%;
    top: 23%;
}

.custom-next {
    position: absolute;
    left: 75%;
    top: 23%;
}
::selection{
    color: #fff;
    background: #007bff;
}

.start_btn,
.info_box,
.quiz_box,
.result_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.start_btn button{
    font-size: 25px;
    font-weight: 500;
    color: chocolate;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
}

.start_btn button:hover {
    background-color: rgba(211, 211, 211, 0.562);
}

.info_box{
    width: 540px;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.info_box .info-title{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    font-weight: 600;
}

.info_box .info-list{
    padding: 15px 30px;
}

.info_box .info-list .info{
    margin: 5px 0;
    font-size: 17px;
}

.info_box .info-list .info span{
    font-weight: 600;
    color: #007bff;
}
.info_box .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
    border-top: 1px solid lightgrey;
}

.info_box .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #007bff;
    transition: all 0.3s ease;
}

.quiz_box{
    width: 550px;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.quiz_box header{
    position: relative;
    z-index: 2;
    height: 70px;
    padding: 0 30px;
    background: #fff;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}

.quiz_box header .title{
    font-size: 20px;
    font-weight: 600;
}

.quiz_box header .timer{
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
    height: 45px;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
}

.quiz_box header .timer .time_left_txt{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.quiz_box header .timer .timer_sec{
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color: #fff;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: #343a40;
    border: 1px solid #343a40;
    user-select: none;
}

.quiz_box header .time_line{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background: #007bff;
}

section{
    padding: 25px 30px 20px 30px;
    background: #fff;
}

section .que_text{
    font-size: 25px;
    font-weight: 600;
}

section .option_list{
    padding: 20px 0px;
    display: block;   
}

section .option_list .option{
    background: aliceblue;
    border: 1px solid #84c5fe;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 17px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .option_list .option:last-child{
    margin-bottom: 0px;
}

section .option_list .option:hover{
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
}

section .option_list .option.correct{
    color: #155724;
    background: #d4edda;
    border: 1px solid #c3e6cb;
}

section .option_list .option.incorrect{
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}

section .option_list .option.disabled{
    pointer-events: none;
}

section .option_list .option .icon{
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    pointer-events: none;
    transition: all 0.3s ease;
    line-height: 24px;
}
.option_list .option .icon.tick{
    color: #23903c;
    border-color: #23903c;
    background: #d4edda;
}

.option_list .option .icon.cross{
    color: #a42834;
    background: #f8d7da;
    border-color: #a42834;
}

footer{
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgrey;
}

footer .total_que span{
    display: flex;
    user-select: none;
}

footer .total_que span p{
    font-weight: 500;
    padding: 0 5px;
}

footer .total_que span p:first-child{
    padding-left: 0px;
}

footer button{
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    background: #007bff;
    border: 1px solid #007bff;
    line-height: 10px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
}

footer button:hover{
    background: #0263ca;
}

footer button.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.result_box{
    background: #fff;
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    width: 450px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.result_box .icon{
    font-size: 100px;
    color: #007bff;
    margin-bottom: 10px;
}

.result_box .complete_text{
    font-size: 20px;
    font-weight: 500;
}

.result_box .score_text span{
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.result_box .score_text span p{
    padding: 0 4px;
    font-weight: 600;
}

.result_box .buttons{
    display: flex;
    margin: 20px 0;
}

.result_box .buttons button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #007bff;
    transition: all 0.3s ease;
}

.buttons button.restart{
    color: #fff;
    background: #007bff;
}

.buttons button.restart:hover{
    background: #0263ca;
}

.buttons button.quit{
    color: #007bff;
    background: #fff;
}

.buttons button.quit:hover{
    color: #fff;
    background: #007bff;
}


@media screen and (max-width: 1200px) {
    .navbar .collapse {
        background-color: rgba(216, 216, 216, 0.76);
    }
}